*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto_Condensed-Regular.ttf);
}
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 30px;
}
.Container{
    max-width: 70vw;
    margin: auto;
}
.Container2{
    max-width: 58.3vw;
    margin: auto;
}
.logo img{
    margin-top: 30px;
   
}
.Header{
    background: url(../public/Rectangle\ 14.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
}
ul li a{
    text-decoration: none;
    font-family: Roboto;
    color: #363636;
    font-weight: 400;
}
.HeaderTitleBox{
    text-align: center;
    margin-right: -50px;
}
.HeaderTitle,.HeaderTitle2,.HeaderTitle3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.HeaderTitle{
    font-size: 76px;
    line-height: 100%;
    margin-top: -20px;
}
.HeaderTitle2{
    font-weight: 400;
    font-size: 48px;
}
.HeaderTitle3{
    color: #9F6B08;
    font-weight: 400;
    font-size: 34px;
}
.HeaderBorder{
    border: 0.8px solid #040404;
    width: 386px;
    margin: auto;
}
.HeaderTitle4{
    color: #363636;
    font-weight: 400;
    font-size: 15.53px;
    font-family: Roboto;
    margin-top: 10px;
}
.MainDescTitleBox{
    display: flex;
}
.MainTitle{
    color: #040404;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: Roboto;
}
.MainDescTitle{
    color: #040404;
    font-weight: 400;
    font-family: Roboto;
    width: 439px;
    line-height: 120%;
    font-size: 14px;
    margin-bottom: 30px;
}
.MainDescTitle2{
    width: 438px;
    color: #040404;
    font-weight: 700;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 20px;
}